@page "/todo"
@rendermode InteractiveServer
<h3>Todo</h3>

<ul>
    @foreach (var todo in todos) { //for eaach todo, do this:
        <li>@todo.Title</li>
    }
</ul>

<input placeholder='Something todo' @bind='newTodo'>
<button @onclick='AddTodo'>Add</button>

@code {
    private string? newTodo;

    private List<BlazorSample.TodoItem> todos = new();

private void AddTodo() {
    //add the todo
}
}
